n8n-workflows/LAURA-Native-MCP.json
{
    "name": "LAURA - Native MCP Server",
    "nodes": [
        {
            "parameters": {
                "name": "check_lead",
                "description": "Check if customer has history with us. Use when they mention past service or to personalize the call.",
                "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"phone\": {\n      \"type\": \"string\",\n      \"description\": \"Customer phone number in (XXX) XXX-XXXX format\"\n    }\n  },\n  \"required\": [\"phone\"]\n}"
            },
            "type": "n8n-nodes-base.mcpServerTrigger",
            "typeVersion": 1,
            "position": [
                240,
                100
            ],
            "id": "trigger-check-lead",
            "name": "Tool: check_lead"
        },
        {
            "parameters": {
                "name": "get_availability",
                "description": "Get available time slots for the next 7 days. Use when customer asks 'when are you free?' or rejects an offered time.",
                "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"zip_code\": {\n      \"type\": \"string\",\n      \"description\": \"Customer Zip Code to check service area availability\"\n    },\n    \"preferred_date\": {\n      \"type\": \"string\",\n      \"description\": \"Optional: Preferred date in YYYY-MM-DD format\"\n    }\n  },\n  \"required\": [\"zip_code\"]\n}"
            },
            "type": "n8n-nodes-base.mcpServerTrigger",
            "typeVersion": 1,
            "position": [
                240,
                300
            ],
            "id": "trigger-get-availability",
            "name": "Tool: get_availability"
        },
        {
            "parameters": {
                "name": "get_pricing",
                "description": "Calculate estimated price based on home details. Use when customer asks 'how much does it cost?'.",
                "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"bedrooms\": {\n      \"type\": \"integer\"\n    },\n    \"bathrooms\": {\n      \"type\": \"integer\"\n    },\n    \"service_type\": {\n      \"type\": \"string\",\n      \"enum\": [\"regular\", \"deep\", \"move-in-out\"]\n    },\n    \"zip_code\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\"bedrooms\", \"bathrooms\", \"service_type\", \"zip_code\"]\n}"
            },
            "type": "n8n-nodes-base.mcpServerTrigger",
            "typeVersion": 1,
            "position": [
                240,
                500
            ],
            "id": "trigger-get-pricing",
            "name": "Tool: get_pricing"
        },
        {
            "parameters": {
                "name": "book_appointment",
                "description": "Book the cleaning appointment. Use ONLY when customer explicitly confirms a date and time.",
                "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"phone\": { \"type\": \"string\" },\n    \"lead_name\": { \"type\": \"string\" },\n    \"service_type\": { \"type\": \"string\" },\n    \"address\": { \"type\": \"string\" },\n    \"datetime\": { \"type\": \"string\", \"description\": \"ISO 8601 Datetime\" },\n    \"price\": { \"type\": \"number\" }\n  },\n  \"required\": [\"phone\", \"lead_name\", \"service_type\", \"address\", \"datetime\", \"price\"]\n}"
            },
            "type": "n8n-nodes-base.mcpServerTrigger",
            "typeVersion": 1,
            "position": [
                240,
                700
            ],
            "id": "trigger-book-appointment",
            "name": "Tool: book_appointment"
        },
        {
            "parameters": {
                "name": "end_call",
                "description": "Log the call outcome at the very end of the conversation.",
                "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"lead_id\": { \"type\": \"string\" },\n    \"outcome\": { \"type\": \"string\", \"enum\": [\"booked\", \"callback\", \"not_interested\", \"voicemail\"] },\n    \"notes\": { \"type\": \"string\" }\n  },\n  \"required\": [\"lead_id\", \"outcome\", \"notes\"]\n}"
            },
            "type": "n8n-nodes-base.mcpServerTrigger",
            "typeVersion": 1,
            "position": [
                240,
                900
            ],
            "id": "trigger-end-call",
            "name": "Tool: end_call"
        },
        {
            "parameters": {
                "operation": "get",
                "tableId": "leads_santos_cleaning",
                "filterType": "manual",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "phone",
                            "keyValue": "={{ $json.phone }}"
                        }
                    ]
                },
                "options": {
                    "queryName": "sort",
                    "sort": [
                        {
                            "keyName": "created_at",
                            "order": "descending"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                460,
                100
            ],
            "id": "check-lead-supabase",
            "name": "Query Supabase (check_lead)",
            "alwaysOutputData": true,
            "credentials": {
                "supabaseApi": {
                    "id": "sLlYVMmvhRAAO4Ug",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Format check_lead response\nconst leads = $input.all();\nconst lead = leads[0]?.json || {};\n\nif (leads.length === 0 || !lead.id) {\n  return {\n    json: {\n      type: \"NEW\",\n      message: \"No previous history found\",\n      total_bookings: 0\n    }\n  };\n}\n\nconst bookingCount = leads.length;\nlet leadType = \"NEW\";\nif (bookingCount > 3) {\n  leadType = \"RETURNING\";\n} else if (bookingCount > 0) {\n  const lastDate = new Date(lead.created_at);\n  const daysSince = (Date.now() - lastDate.getTime()) / (1000 * 60 * 60 * 24);\n  leadType = daysSince > 90 ? \"COLD\" : \"RETURNING\";\n}\n\nreturn {\n  json: {\n    type: leadType,\n    last_service_date: lead.created_at,\n    total_bookings: bookingCount,\n    preferred_day: lead.preferences?.preferred_day || null,\n    notes: lead.notes || null,\n    address: lead.address || null\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                100
            ],
            "id": "format-check-lead",
            "name": "Format Response (check_lead)"
        },
        {
            "parameters": {
                "operation": "getAll",
                "calendar": {
                    "__rl": true,
                    "value": "ab86b1fd7357571f99a98c8fadff5db2e4d4becf8bbf063639430c4f777a9103@group.calendar.google.com",
                    "mode": "list"
                },
                "options": {
                    "timeMin": "={{ $now }}",
                    "timeMax": "={{ $now.plus(7, 'days').toISO() }}"
                }
            },
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1.3,
            "position": [
                460,
                300
            ],
            "id": "get-calendar",
            "name": "Query Calendar (get_availability)",
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "fRii5MDV3gKIWoZV",
                    "name": "Google Calendar account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Format availability response\nconst events = $input.all();\nconst zipCode = $('Tool: get_availability').first().json.zip_code;\n\n// Build list of busy slots\nconst busySlots = events.map(e => ({\n  start: new Date(e.json.start.dateTime),\n  end: new Date(e.json.end.dateTime)\n}));\n\nconst availableSlots = [];\nconst now = new Date();\n\nfor (let day = 0; day < 7; day++) {\n  const date = new Date(now);\n  date.setDate(date.getDate() + day);\n  if (date.getDay() === 0 || date.getDay() === 6) continue;\n  [9, 10, 14, 15].forEach(hour => {\n    const slotStart = new Date(date);\n    slotStart.setHours(hour, 0, 0, 0);\n    const slotEnd = new Date(slotStart);\n    slotEnd.setHours(hour + 2);\n    const isFree = !busySlots.some(busy => \n      (slotStart >= busy.start && slotStart < busy.end) ||\n      (slotEnd > busy.start && slotEnd <= busy.end)\n    );\n    if (isFree && slotStart > now) {\n      const ampm = hour >= 12 ? 'PM' : 'AM';\n      const h12 = hour > 12 ? hour - 12 : hour;\n      availableSlots.push({\n        date: slotStart.toISOString().split('T')[0],\n        time: `${h12}:00 ${ampm}`,\n        datetime: slotStart.toISOString()\n      });\n    }\n  });\n}\nreturn {\n  json: {\n    available_slots: availableSlots.slice(0, 10),\n    next_available: availableSlots[0] ? `${availableSlots[0].date} at ${availableSlots[0].time}` : \"No availability\",\n    total_found: availableSlots.length\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                300
            ],
            "id": "format-availability",
            "name": "Format Response (get_availability)"
        },
        {
            "parameters": {
                "jsCode": "// Pricing calculation logic\nconst input = $json;\nconst bedrooms = parseInt(input.bedrooms) || 2;\nconst bathrooms = parseInt(input.bathrooms) || 1;\nconst serviceType = input.service_type || 'regular';\nconst zipCode = input.zip_code || '';\n\n// Pricing Matrix\nconst pricingMatrix = {\n  'regular': { base: 100, perBed: 30, perBath: 20 },\n  'deep': { base: 200, perBed: 50, perBath: 30 },\n  'move-in-out': { base: 250, perBed: 60, perBath: 35 }\n};\nconst p = pricingMatrix[serviceType] || pricingMatrix['regular'];\nlet basePrice = p.base + (bedrooms * p.perBed) + (bathrooms * p.perBath);\nconst isPremium = ['30022', '30067', '30076', '30342', '30327'].includes(zipCode);\nif (isPremium) basePrice *= 1.15;\n\nreturn {\n  json: {\n    base_price: Math.round(basePrice),\n    breakdown: { bedrooms, bathrooms, service_type: serviceType }\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                460,
                500
            ],
            "id": "calculate-pricing",
            "name": "Calculate Pricing (get_pricing)"
        },
        {
            "parameters": {
                "operation": "create",
                "calendar": {
                    "__rl": true,
                    "value": "ab86b1fd7357571f99a98c8fadff5db2e4d4becf8bbf063639430c4f777a9103@group.calendar.google.com",
                    "mode": "list"
                },
                "summary": "={{ $json.service_type }} - {{ $json.address }}",
                "start": "={{ $json.datetime }}",
                "end": "={{ $now.set({ hour: parseInt($json.datetime.split('T')[1].split(':')[0]) + 2 }).toISO() }}",
                "options": {
                    "description": "Customer: {{ $json.lead_name }}\\nPhone: {{ $json.phone }}\\nPrice: ${{ $json.price }}"
                }
            },
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1.3,
            "position": [
                460,
                700
            ],
            "id": "create-calendar-event",
            "name": "Create Calendar Event (book)"
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "leads_santos_cleaning",
                "filterType": "manual",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "phone",
                            "keyValue": "={{ $('Tool: book_appointment').first().json.phone }}"
                        }
                    ]
                },
                "columns": {
                    "values": [
                        {
                            "column": "status",
                            "value": "booked"
                        },
                        {
                            "column": "scheduled_date",
                            "value": "={{ $('Tool: book_appointment').first().json.datetime }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                680,
                700
            ],
            "id": "update-lead-booked",
            "name": "Update Lead (book)"
        },
        {
            "parameters": {
                "jsCode": "return { json: { success: true, message: \"Appointment booked successfully\" } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                880,
                700
            ],
            "id": "format-book-response",
            "name": "Format Response (book)"
        },
        {
            "parameters": {
                "operation": "insert",
                "tableId": "call_logs",
                "columns": {
                    "values": [
                        {
                            "column": "lead_id",
                            "value": "={{ $json.lead_id }}"
                        },
                        {
                            "column": "outcome",
                            "value": "={{ $json.outcome }}"
                        },
                        {
                            "column": "notes",
                            "value": "={{ $json.notes }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                460,
                900
            ],
            "id": "log-call",
            "name": "Log Call (end_call)",
            "credentials": {
                "supabaseApi": {
                    "id": "sLlYVMmvhRAAO4Ug",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "return { json: { logged: true } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                900
            ],
            "id": "format-end-call",
            "name": "Format Response (end_call)"
        }
    ],
    "connections": {
        "Tool: check_lead": {
            "main": [
                [
                    {
                        "node": "Query Supabase (check_lead)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Query Supabase (check_lead)": {
            "main": [
                [
                    {
                        "node": "Format Response (check_lead)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: get_availability": {
            "main": [
                [
                    {
                        "node": "Query Calendar (get_availability)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Query Calendar (get_availability)": {
            "main": [
                [
                    {
                        "node": "Format Response (get_availability)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: get_pricing": {
            "main": [
                [
                    {
                        "node": "Calculate Pricing (get_pricing)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: book_appointment": {
            "main": [
                [
                    {
                        "node": "Create Calendar Event (book)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Calendar Event (book)": {
            "main": [
                [
                    {
                        "node": "Update Lead (book)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Lead (book)": {
            "main": [
                [
                    {
                        "node": "Format Response (book)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: end_call": {
            "main": [
                [
                    {
                        "node": "Log Call (end_call)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Call (end_call)": {
            "main": [
                [
                    {
                        "node": "Format Response (end_call)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}